@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

.menu-builder-page input,
.menu-builder-page select,
.menu-builder-page textarea {
    width: 100%;
}

.menu-builder-page textarea {
    resize: vertical;
}
.fi-fo-rich-editor {
    position: relative;
}

.fi-fo-rich-editor .tiptap,
.fi-fo-rich-editor .tiptap-editor {
    max-height: 520px;
    overflow-y: auto;
    overflow-x: hidden;
}